<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Fabricante</title>
</head>
<body>
	<nav>
		<div>
			<div>
				<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li>Produto</li>
					<li><a th:href="@{/fabricante/fabricanteIndex}">Fabricante</a></li>
					<li>Grupo</li>
					<li>Subgrupo</li>
					<li>Vendas</li>
					<li>Admin</li>
					<li>
						<form th:action="@{/logout}" method="POST">
							<button type="submit">Logout</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div>
		<div>
			<h3>Lista de Fabricante</h3>

			<a th:href="@{/fabricante/fabricanteSave}">Novo</a>

		</div>
		<div>
			<div>
				<table id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nome Fantasia</th>
							<th>Razão Social</th>
							<th>CNPJ</th>
							<th>Endereço</th>
							<th>Telefone</th>
							<th>E-mail</th>
							<th>Vendedor</th>
							<th>Alterar</th>
							<th>Excluir</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="fab : ${fabricante}">
							<td th:text="${fab.id}" />
							<td th:text="${fab.nomeFantasia}" />
							<td th:text="${fab.razaoSocial}" />
							<td th:text="${fab.cnpj}" />
							<td th:text="${fab.endereco}" />
							<td th:text="${fab.telefone}" />
							<td th:text="${fab.email}" />
							<td th:text="${fab.vendedor}" />
							<td><a href="" th:href="@{'/fabricante/fabricanteUpdate/'+${fab.id}}" style="color: blue;" class="nav-link">Alterar</a></td>
							<td><a href="" th:href="@{'/fabricante/deletar-fabricante/'+${fab.id}}" style="color: red;" class="nav-link">Excluir</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>